<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.education.leotech.hackingtutorial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Hacking_Tutorial"
            android:label="@string/title_activity_hacking__tutorial"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mainListActivity" />
        <activity android:name=".overviewActivity" />
        <activity android:name=".typeOfHackerActivity" />
        <activity android:name=".terminologiesActivity" />
        <activity android:name=".ToolsActivity" />
        <activity android:name=".skillsActivity" />
        <activity android:name=".FootPrinting" />
        <activity android:name=".FingerPrinting" />
        <activity android:name=".Sniffing" />
        <activity android:name=".SniffingTools" />
        <activity android:name=".ArpPoisoning" />
        <activity android:name=".DnsPoisoning" />
        <activity android:name=".Exploitation" />
        <activity android:name=".Enumeration" />
        <activity android:name=".Metasploit" />
        <activity android:name=".TrojanAttacks" />
        <activity android:name=".TcpIpHijacking" />
        <activity android:name=".EmailHijacking" />
        <activity android:name=".PasswordHacking" />
        <activity android:name=".WirelessHacking" />
        <activity android:name=".SocialEngineering" />
        <activity android:name=".DDOsAttacks" />
        <activity android:name=".CrossSiteScripting" />
        <activity android:name=".SQlInjection" />
        <activity android:name=".PenTesting"></activity>
    </application>

</manifest>